<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Current Dog</h1>
    <form action='/dogs/<%=index%>?_method=PUT' method="POST">
        Name: <input type="text" name="name" value='<%=dog.name%>'><br/>
        Breed: <input type="text" name="breed" value='<%=dog.breed%>'> <br/>
        Gender: <input type="text" name="gender" value='<%=dog.gender%>'> <br/>
        Age: <input type="text" name="age" value='<%=dog.age%>'> <br/>
        IsGoodBoy: <input type="checkbox" name="isGoodBoy" <% if(dog.isGoodBoy) { %> checked <% } %> > <br/>
        <input type="submit" value="SUBMIT" name="">
    </form>
</body>
</html>